
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
  font-family: 'Roboto', sans-serif;
  color: white;
  
}

.card {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}
.nav-bar{
 font-family: 'Roboto Mono', monospace;
}
.search-bar__form-submit {
  font-family: 'Roboto Mono', monospace;
}

h1, p {
  font-family: 'Roboto Mono', monospace;
}

.section-nosotros{
  font-family: 'Roboto Mono', monospace;
}